.DS_Store
*.h.swp
*.o
*.exe
*.out
*.cpp.swp
*.swp
*.bmp
*.a
*.mrc
*.txt
*.csv
*.lo
*.Po
*.db
*.Plo
*~

*.thubox

*.sh

.dirstamp
.deps/

unittest/
gpu/gpuunittest/
bin/
gpu/
autom4te.cache/
case/
case/case1
case/case2
app/
build/
build*/

*.dSYM/

*.log
doc/html
doc/latex
