.DS_Store
*.h.swp
*.o
*.exe
*.out
*.cpp.swp
*.swp
*.bmp
*.a
*.mrc
*.txt
*.csv
*.lo
*.Po
*.db
*.Plo
*~

*.thubox

*.sh

.dirstamp
.deps/
tmp/
unittest/
gpu/gpuunittest/
bin/
gpu/
case/
case/case1
case/case2
app/
build/
build*/
tags

*.dSYM/

*.log
doc/html
doc/latex
