*.h.swp
*.o
*.exe
*.out
*.cpp.swp
*.swp
*.bmp
*.a
*.mrc
*.txt
*.csv
*.lo
*.Po
*.db
*.Plo
*~

*.thubox

*.sh

.dirstamp
.deps/

config*
!configure.ac

Makefile
Makefile.in

unittest/
gpu/gpuunittest/
bin/
gpu/
autom4te.cache/
case/
case/case1
case/case2

!unittest/Makefile.am
!gpu/gpuunittest/Makefile.am
!bin/Makefile.am

!case/case1/Makefile.am
!case/case2/Makefile.am

*.dSYM/

depcomp
compile
*.log
*.m4
ar-lib
install-sh
libtool
missing
stamp-h1
tags


doc/html
doc/latex
